body {
    background: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 145, 77));

    font-family: Arial, sans-serif;
    color: white;
}

header {
    background: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 145, 77));
    color: white;

    padding: 20px;
    margin-bottom: 0.1px;
}

main {
    background: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 145, 77));
    color: white;

}


h1, h2 {
    color: white;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.subtitulo {
    margin-bottom: 1px; /* Reduce el espacio antes del carrusel */
    font-size: 1.2rem; /* Asegura que se vea bien en móviles */
    text-align: center;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
    .subtitulo {
        margin-bottom: 5px;
    }
}


.carousel {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Máximo ancho en pantallas grandes */
    margin: auto; /* Centrar el carrusel */
}

/* Ajustes de tamaño de la imagen dentro del carrusel */
.carousel-item img {
    max-width: 90%; /* Que no se expanda demasiado */
    height: auto;
    max-height: 300px; /* Controla la altura en pantallas grandes */
    display: block;
    margin: auto;
    object-fit: contain; /* Evita recortes */
}

/* Reducción del tamaño en dispositivos móviles */
@media (max-width: 768px) {
    .carousel-item img {
        max-height: 250px; /* Reduce la altura del QR en móviles */
    }
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#contacto form {
    max-width: 500px;
    margin: auto;
}

/*Portafolio*/
.hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-title {
    color: white;
    margin-bottom: 50px;
}

.bg-light {
    background: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 145, 77));
    

}

div.card {
    margin-bottom: 20px;
}

div.card-body {
    background: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 145, 77));
    color: white;
    
    
}